<%= form_tag("/seq/view", :method => "get") do %>
    <table>
        <tr>
            <td>
                <%= label_tag("Введите количество чисел: ") %>
            </td>
            <td>
                <%= text_field_tag(:num) %> <br>
            </td>
        </tr>
        <tr>
            <td>
                <%= label_tag("Введите последовательность: ") %>
            </td>
            <td>
                <%= text_field_tag(:str) %> <br>
            </td>
        </tr>
        <tr>
            <td>
                <%= submit_tag("Вывести") %>
            </td>
        </tr>
    </table>  
<% end %>
