<%= form_tag("/seq/view", :method => "get") do %>
    <table>
        <tr>
            <td>
                <%= label_tag("Введите количество чисел: ") %>
            </td>
            <td>
                <%= text_field_tag :num, 10 %> <br>
            </td>
        </tr>
        <tr>
            <td>
                <%= label_tag("Введите последовательность: ") %>
            </td>
            <td>
                <%= text_field_tag :str, "6 28 3 4 5 6 6 496 3 6"%> <br>
            </td>
        </tr>
        <tr>
            <td>
                <%= submit_tag("Вывести") %>
            </td>
        </tr>
    </table>  
<% end %>
