<%= form_with url: show_path do |form| %>
    <table>
        <tr>
            <td>
                <%= form.label("Введите количество чисел: ") %>
            </td>
            <td>
                <%= form.text_field :num, :value => 10 %> <br>
            </td>
        </tr>
        <tr>
            <td>
                <%= form.label("Введите последовательность: ") %>
            </td>
            <td>
                <%= form.text_field :str, :value => "6 28 3 4 5 6 6 496 3 6" %> <br>
            </td>
        </tr>
        <tr>
            <td>
                <%= form.submit("Вывести", id: 'submit') %>
            </td>
        </tr>
    </table>  
<% end %>
<%= form_with url: '/show_all.xml', data: {turbo: false} do |form| %>
    <%= form.submit("База данных", id: 'db_submit') %> 
<% end %>
<div id='show-container'></div>